body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #003868;
	background-color: whitesmoke;
	margin: 6mm;
}
.pole1{
    border-color: aqua;
    border-style: solid;
    border-width: 4px;
}

.pole1Invalid{
    border-color: brown;
    border-style: solid;
    border-width: 4px;
}